<div class="row">
	<div class="col-md-12 footer-container">
		<p class='pull-left'>
			<strong class='white'>BrainStrap</strong>© copyright {{"now"|date('Y')}}. Все права защищены
		</p>
		<p class="pull-right">
			<i class="fa fa-google-plus md"></i>
			<i class="fa fa-facebook-square md"></i>
			<i class="fa fa-vk md"></i>
		</p>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal-register">
            Register
        </button>
	</div>
</div>