<div class="row">
    <div class="col-md-12">
        <h3 class="text-center">В чем преимущество</h3>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-default panel-difference bs-box-shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Клиентам</h3>
                </div>
                <div class="panel-body">
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Вы точно знаете, что выбираете специалиста в интересующей вас области.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Вы можете выбрать наиболее свободного специалиста в данный момент.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Вы можете следить за ходом разработки проекта из вашего личного кабинета.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Имея данные об уровне знаний исполниителя - вам будет проще выбрать оптимальную цену услуги.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Вам необходимо просто выбрать цель, а не придумывать ее и описывать способы ее решению исполнителю.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Вы можете работать на прямую с одним и тем же исполнителем, оказывая ему поддержку и наблюдая за его профессионашльным ростом.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-difference bs-box-shadow">
                <div class="panel-heading">
                    <h3 class="panel-title">Исполнителям</h3>
                </div>
                <div class="panel-body">
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Нет необходимости целый день сидеть и "ловить" заказы.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Все ваши заказы выстраиваются в task time manager в вашем личном кабинете.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        При получение заказа вы получаете информацию о клиенте и о его предыдущих сделках, что позволит вам определить его добросовестность.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Статистика заказов, доступная каждому разработчику, позволит ему выбрать свою нишу для работы.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Вы можете работать с одними и теме же заказчиками, что позволит вам заводить своих доверенных постоянных клиентов.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                    <div class="difference-list-item">
                        <i class='fa fa-check green md'></i>
                        <span>
                        Каждый участник команды Brainstrap обязан помогать другим участникам команды.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-difference difference-panel-item bs-box-shadow">
                <div class="panel-body">
                    <div class="difference-list-item">
                        <i class="fa fa-flag orange md"></i>
                        <span>
                        Brainstrap - команда честных исполнителей. Brainstrap оставляет за собой право модерировать действия участников команды и блокировать за недобросовестное поведение или нарушение установленных порядков.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>

                    <div class="difference-list-item">
                        <i class="fa fa-flag orange md"></i>
                        <span>
                        Brainstrap - саморегулируемая команда. Все, что происходит в команде Brainstrap - либо решается участниками команды Brainstrap, либо не решается вовсе.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>

                    <div class="difference-list-item">
                        <i class="fa fa-flag orange md"></i>
                        <span>
                        Все недобросовестные участники команды Brainstrap будут заблокированы.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>

                    <div class="difference-list-item">
                        <i class="fa fa-flag orange md"></i>
                        <span>
                        Все заблокированные участики команды Brainstrap попадают в Черный список. Черный список является своего рода базой данных недобросовестных заказчиков и исполнителей.
                        </span>
                        <div class="panel panel-default difference-panel-item">
                            <div class="panel-body">
                                Basic panel example
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>