<div class="row">
    <div class="col-md-12">
        <h2 class="text-center white">Несколько идей проекта</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-black">
            <div class="panel-body text-center">
                <i class="fa fa-legal icon-image-sm"></i>
                <h2 class="white">
                Честность
                </h2>
                <p class="pull-left">
                Brainstrap за честность в отношениях между заказчиком и исполнителем. <br />
                </p>
            </div>
            <div class="panel panel-grey">
                <div class="panel-body">
                    <div>
                        <i class="fa fa-flag red md"></i>
                        <span>
                        Поощрение удачных сделок
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-flag red md"></i>
                        <span>
                        Блокирование недобросовестных участников
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-flag red md"></i>
                        <span>
                        Публикация черных и белых списков
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-black">
            <div class="panel-body text-center">
                <i class="fa fa-eye icon-image-sm"></i>
                <h2 class="white">
                Ответственность
                </h2>
                <p class="pull-left">
                Brainstrap за ответсвенный подход к выполнению поставленных задач<br />
                </p>
            </div>
            <div class="panel panel-grey">
                <div class="panel-body">
                    <div>
                        <i class="fa fa-flag red md"></i>
                        <span>
                        Мотивация качественного выполнения задач
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-flag red md"></i>
                        <span>
                        Поощрение поддержки существующих проектов
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-flag red md"></i>
                        <span>
                        Разбор и решение неустоек
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-black">
            <div class="panel-body text-center">
                <i class="fa fa-graduation-cap icon-image-sm"></i>
                <h2 class="white">
                Развитие
                </h2>
                <p class="pull-left">
                Brainstrap за обучение и саморазвитие. <br />
                </p>
            </div>
            <div class="panel panel-grey">
                <div class="panel-body">
                    <div>
                        <i class="fa fa-flag red md"></i>
                        <span>
                        Q&A
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-flag red md"></i>
                        <span>
                        Учебные проекты
                        </span>
                    </div>
                    <div>
                        <i class="fa fa-flag red md"></i>
                        <span>
                        Публикация материалов
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-black">
            <div class="panel-body text-center">
                <i class="fa fa-bar-chart-o icon-image-sm"></i>
                <h2 class="white">
                Открытость
                </h2>
                <p class="pull-left">
                Brainstrap за открыте данные и свободное ПО. <br />
                </p>
            </div>

	        <div class="panel panel-grey">
	            <div class="panel-body">
	                <div>
	                    <i class="fa fa-flag red md"></i>
	                    <span>
	                    Публикация статистики
	                    </span>
	                </div>
	                <div>
	                    <i class="fa fa-flag red md"></i>
	                    <span>
	                    Анализ оторосли
	                    </span>
	                </div>
	                <div>
	                    <i class="fa fa-flag red md"></i>
	                    <span>
	                    Поддержка OSI
	                    </span>
	                </div>
	            </div>
	        </div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-black">
            <div class="panel-body text-center">
                <i class="fa fa-life-ring icon-image-sm"></i>
                <h2 class="white">
                Поддержка
                </h2>
                <p class="pull-left">
                Brainstrap за поддержку и обучение. <br />
                </p>
            </div>

	        <div class="panel panel-grey">
	            <div class="panel-body">
	                <div>
	                    <i class="fa fa-flag red md"></i>
	                    <span>
	                    Q&A
	                    </span>
	                </div>
	                <div>
	                    <i class="fa fa-flag red md"></i>
	                    <span>
	                    Публикация материалов
	                    </span>
	                </div>
	                <div>
	                    <i class="fa fa-flag red md"></i>
	                    <span>
	                    Учебные проекты
	                    </span>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
</div>