        <div class="bs-caption" id="bs-garant">
            <div class="row">
                <h3>
                Мы гарантируем
                </h3>
                <div class="">
                    <div class="used col-sm-3 col-lg-3">
                        <div class="icon">
                            <i class="fa fa-picture-o img-garant-opacity"></i>
                        </div>
                        <h1>Уникальный дизайн</h1>
                        <p>
                        Уникальный дизайн для вашего интернет-проекта поможет качественно выделиться среди конкурентов
                        </p>
                    </div>
                    <div class="used col-sm-3 col-lg-3">
                        <div class="icon">
                            <i class="fa fa-desktop img-garant-opacity"></i>
                        </div>
                        <h1>Адаптивная верстка</h1>
                        <p>
                        Ваш сайт будет одинаково хорошо отображаться на телефонах, планшетах или больших мониторах
                        </p>
                    </div>
                    <!--   Feature 2 -->
                    <div class="used col-sm-3 col-lg-3">
                        <div class="icon">
                            <i class="fa fa-code img-garant-opacity"></i>
                        </div>
                        <h1>Высокое качество разработки</h1>
                        <p>
                        На каждом этапе разработки проводится тестирование программного продукта цель которого выявить и
                        исправить ошибки еще на этапе разработки
                        </p>
                    </div>
                    <div class="used col-sm-3 col-lg-3">
                        <div class="icon">
                            <i class="fa fa-history img-garant-opacity"></i>
                        </div>
                        <h1>Сроки</h1>
                        <p>
                        При несоблюдение сроков сдачи мы гарантируем компенсации издержек и подключение дополнительных
                        ресурсов к вашему проекту
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="used col-sm-3 col-lg-3">
                        <div class="icon">
                            <i class="fa fa-umbrella img-garant-opacity"></i>
                        </div>
                        <h1>Гарантия</h1>
                        <p>
                        После сдачи проекта команда предоставляет проекту испытальные срок 3 месяца, для тестирования и
                        выявления недоработок, предоставляя вам отчет за этот период
                        </p>
                    </div>
                    <div class="used col-sm-3 col-lg-3">
                        <div class="icon">
                            <i class="fa fa-eye img-garant-opacity"></i>
                        </div>
                        <h1>Предпоказы</h1>
                        <p>
                        По кончанию каждого этапа разработки проводится предпоказ продукта с целью выявления недостатков
                        и уточнения задач
                        </p>
                    </div>
                    <div class="used col-sm-3 col-lg-3">
                        <div class="icon">
                            <i class="fa fa-support img-garant-opacity"></i>
                        </div>
                        <h1>Поддержка и развитие</h1>
                        <p>
                        После сдачи команда Brainstrap может продолжить работу с вашим проектом как в области разработки
                        так и в области бизнеса
                        </p>
                    </div>
                    <div class="used col-sm-3 col-lg-3">
                        <div class="icon">
                            <i class="fa fa-send-o img-garant-opacity"></i>
                        </div>
                        <h1>Агрессивное SEO</h1>
                        <p>
                        Команда Brainstrap предлагает агрессивное продвижение вашего проекта даже при высокой
                        конкуренции
                        </p>
                    </div>
                </div>
            </div>
        </div>