<div class="row">
	<div class="col-md-4">
		<i class="fa fa-comment-o fa-6 icon-image-md"></i>
	</div>
	<div class="col-md-8">
        <h2 class="white bold">Как работает команда Brainstrap ?</h2>
        <p class="white">
        	<i class="fa fa-circle-thin xs"></i> Каждый разработчик, регистрируюясь на бирже и заполняя свой профиль становится полноправным участником команды Brainstrap. <br /><br />
        	<i class="fa fa-circle-thin xs"></i> В своем профиле новый участник указывает навыки которыми владеет и описывает услуги, которые может оказать в области IT.<br /><br />
        	<i class="fa fa-circle-thin xs"></i> Как только клиент выберет предоставляемую вами услугу - вы получите уведомление о поступившей к вам задаче с детальным описанием и контактами заказчика.
        </p>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<a href="#" class="btn btn-orange-light pull-right" role="button">Вступить в команду  <i class="fa fa-lemon-o"></i></a>
	</div>
</div>

